<div class="container">
	<section class="bg-wh-a bor-t-pu-a pv-20">

		[(#SET{flux_facebook,#VAL{3}|facebook_feed})]

		<div class="clearfix equal-col-wp mt-25">
			<BOUCLE_flux_fb(DATA){source table, #GET{flux_facebook}}>

			[<div class="col-md-3 col-sm-6[(#COMPTEUR_BOUCLE|=={2}|oui) mt-30-xs]">
				<a href="#CONFIG{apsulis_config_generale/lien_fb}"[ title="Lire sur Facebook : (#VALEUR{message}|attribut_html|couper{80})"] class="hover-b pu-c bg-gy-a pa-15 bloc_fb" rel='external'>
					<div class="equal-col-item">
						[<figure class="caption-a-wp">
							<img src="(#VALEUR{full_picture}|image_remplissage{225,140}|extraire_attribut{src})" class="img-responsive w-full-xs"[ alt="(#VALEUR{message}|attribut_html|couper{80})"]>
							<figcaption class="caption hidden-print">
								<span class="sprite-wp bg-pu-c">
									<span class="sprite facebook-wh-a"></span>
								</span>
								<span class="ph-10">[(#VALEUR{created_time}|affdate{'d/m'})]</span>
							</figcaption>
						</figure>]
						<p class="mt-10 c-gy-e">(#VALEUR{message}|couper{365})</p>
					</div>
				</a>
			</div>]
			</BOUCLE_flux_fb>

			#SET{flux_twitter,#VAL{3}|tweeter_feed}

			<div class="col-md-6 col-sm-12 mt-30-sm">
				<BOUCLE_flux_twitter(DATA){source table, #GET{flux_twitter}}>
				<div class="clearfix mb-30">
					<div class="bg-gy-a">
						<div class="d-tab va-m">
							<div class="bg-pu-c pa-5">
								<span class="sprite twitter-wh-a"></span>
							</div>
							<a href="https://twitter.com/#VALEUR{user/name}" class="pt-5"[ title="Consulter la page twitter de (#VALEUR{user/name}|attribut_html|couper{80})"] rel='external'>
								<h3 class="h-like-j c-pu-c ml-10 pull-left">#VALEUR{user/name}</h3>
								<span class="c-pu-c mh-5">&bull;</span>
								<em class="p-like-c">[(#VALEUR{created_at}|affdate{'d/m/Y H:i'})]</em>
							</a>
						</div>
						<div class="pa-10 text_tweet">
							<p>#VALEUR{text}</p>
						</div>
					</div>
				</div>
				</BOUCLE_flux_twitter>

				#SET{flux_instagram,#VAL{3}|instagram_feed}

				<ul class="row magnific-popup">
					<BOUCLE_flux_insta(DATA){source table, #GET{flux_instagram}}>
					<li class="col-md-4 col-sm-4 ">
						<div class="bg-gy-a pa-15">
							<a href="#VALEUR{images/standard_resolution/url}" class="item" data-effect="mfp-zoom-out" title='Ouvrir cette photo Instagram'>
								<img src="#VALEUR{images/thumbnail/url}" class="img-responsive center-block" alt="A dynamiser">
							</a>
						</div>
					</li>
					</BOUCLE_flux_insta>
				</ul>

			</div>
		</div>
	</section>
</div>
