<div class="formulaire_spip formulaire_configurer formulaire_#FORM">

	<h3 class="titrem"><:flux_rs:cfg_titre_parametrages:></h3>

	[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV*{message_ok})</p>]
	[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]

	<form method="post" action="#ENV{action}">
	<div>
		#ACTION_FORMULAIRE{#ENV{action}}

		<h4>Facebook</h4>
		<hr />
		<div>
			[(#SAISIE{input, fb_app_id,
				label="Identifiant de l'application",
				explication=""})]
		</div>
		<div>
			[(#SAISIE{input, fb_secret,
				label="Secret",
				explication=""})]
		</div>
		<div>
			[(#SAISIE{input, fb_page_id,
				label="Identifiant de la page",
				explication=""})]
		</div>

		<h4>Tweeter</h4>
		<hr />
		<div>
			[(#SAISIE{input, tw_key,
				label="Clé client",
				explication=""})]
		</div>
		<div>
			[(#SAISIE{input, tw_secret,
				label="Secret",
				explication=""})]
		</div>
		<div>
			[(#SAISIE{input, tw_token,
				label="Token",
				explication=""})]
		</div>
		<div>
			[(#SAISIE{input, tw_token_secret,
				label="Token secret",
				explication=""})]
		</div>
		<div>
			[(#SAISIE{input, tw_screen_name,
				label="Screen Name",
				explication=""})]
		</div>

		<h4>Instagram</h4>
		<hr />
		<div>
			[(#SAISIE{input, insta_access_token,
				label="Access Token",
				explication=""})]
		</div>
		<div>
			[(#SAISIE{input, insta_api_key,
				label="Identifiant de l'application",
				explication=""})]
		</div>
		<div>
			[(#SAISIE{input, insta_api_secret,
				label="Secret",
				explication=""})]
		</div>
		<div>
			[(#SAISIE{input, insta_api_callback,
				label="URL de Callback",
				explication=""})]
		</div>

		<input type="hidden" name="_meta_casier" value="flux_rs" />
		<p class="boutons"><span class="image_loading">&nbsp;</span><input type="submit" class="submit" value="<:bouton_enregistrer:>" /></p>
	</div>
	</form>
</div>
